@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

html,body{
	height: 100%;
	width:100%;
	background: #FCFAEF;
	font-family: 'Tajawal', sans-serif;
	color: #205D67;
	overflow-x: hidden;
}


h2{
	font-size: 300%;
}
p{
	font-size: 150%;
}
.navbar{
	background: #205d67;
	padding: 1% 0;
	font-size: 1.2em;
}
.nav-direct{
  display: flex;
  flex-direction: row;    
}
.navbar-brand{
	margin-left: -60px !important;
	min-height: 55px;
	padding:0 15px 5px;
}
.navbar-brand img{
	width: 70%;
}
.navbar-default .navbar-nav li a{
	font-size: 17px;
	color: #FCFAEF;
}
/*.navbar-default .navbar-nav li a::hover, .navbar-default .navbar-nav li a.active{
	color: red;
}*/
.heading-underline{
	width: 85%;
	height: .2rem;
	background-color: #8ac579;
	margin: 0 auto 2rem;
}
#home{
	background:url(../img/img_611.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	background-size: cover;
}
.button {
	background: #BB6854;
	border-radius:5vw;
	text-align: center;
	display: inline-block;
	font-size: 3vw;
 	margin-top: 2%;
	font-family: 'Tajawal', sans-serif;
	color: #FCFAEF;
	padding-left: 5%;
	padding-right: 5%;
}	

.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #205D67;
}
.landing-text h1{
	font-size: 500%;
	font-weight: 700;
}
.img-resize{
	width: 40%;
}
.padding{
	padding: 60px 0;
}
.padding img{
	width: 100%
}
#video{
	padding-top:20px !important; 

}
#fixed{
	background: url(../img/img_2.png) no-repeat center center fixed;
	display: table;
	height: 50%;
	width: 100%;
	position: relative;
	background-size:cover;
}
.padding img #evaluation-img{
	border: 4px solid #8ac579;
	width: 50% ;
}
.carousel-img{
	margin: auto;
	max-width: 470px !important;
	max-height: 550px !important;
}

.carousel-inner > .item {
   height: 550px;
}

.role{
	margin-top: 4%;
	list-style:none;
	font-size: 150%;

}
.role li{
	margin: 0 0 30px 0;
}
.list-img{
	max-width: 100px;
}

footer{
	width: 100%;
	background: #205d67;
	padding: 5% 5% 1% 5%;
	color: #FCFAEF;
}
.fa{
	padding: 15px;
	font-size: 25px;
	color:#FCFAEF ;
	text-decoration: none;
}
.fa:hover{
	color:#063a76 ;
	text-decoration: none;
}
.fa:visited {
	color:#FCFAEF ;
}
.icon{
	max-width: 200px;	
}
.video_icon{
	max-width: 10%;
}
.video_play{
	position: relative;
	width: 100%    !important;
  	height: auto   !important;
}
.owner img{
	width: 100%;
	border-radius: 50%;
}
.articleView{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
}


.articleDiv{
	margin: 1%;
	padding: 0; 
	border: 0.5px solid #205d67;
}
.articleDiv a { 
	color: #205D67;
}
.articleDiv img { 
	object-fit: cover;
	width: 100%;
	height: 250px;
}

@media (max-width: 768px){
	.navbar-brand img{
		width: 65%;
	}
	.nav-direct{
   		display: flex;
    	flex-direction: column; 
  	}
	.landing-text h1{
	font-size: 300%;
	}
	.fa{
		font-size: 20px;
		padding: 10px;
	}	
	.icon{
		padding-top: 5%;
		max-width: 100px;
	}
	.button{
		border-radius: 6vw;
		font-size: 4.5vw;
	}
	.role{
	font-size: 115%;

	}
	.list-img{
	max-width: 40px;

	}
	#evaluation-img{
		width: 50%;
	}

}

@media only screen and (max-width: 600px) {   
  #evaluation-img{
	width: 90%;
	}
	.owner-img{
		width: 60%
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#evaluation-img{
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.vertical-center {
	  transform: translate(4%, 45%);
	  position: relative;
	  top: 50%;
	  padding: 20px;
	  resize: both;
	}
	#evaluation-img{
	width: 50%;
	
}
